*

!.formatter.exs
!.gitignore
!.editorconfig

!CODE_OF_CONDUCT.md
!CONTRIBUTING.md
!LICENSE
!mix.exs
!mix.lock
!*.md

!test/
!test/**/
!test/**/*.exs

!lib/
!lib/**/
!lib/**/*.ex

!config/
!config/*.exs
